@using Tamagotchi.Models;
@using System.Collections.Generic;

<h1>Tamagotchi World</h1>

<form action="/pets/edit" method="post">
  <button type="submit" name="button">Increase Time</button>
</form>

@* list of all tamagotchis and stats *@
<h3>Tamagotchis</h3>
@if (@Model.Count == 0)
{
  <p>There are no tamagotchis right now.</p>
}
  @foreach (Pet pet in Model)
  {
    <div class="pet-name">
      <p>Name:
        <a href='/pets/@pet.Id'>@pet.Name</a>
      </p>
    </div>

    @if (@pet.IsTamagotchiDead())
    {
      <p>This pet has died.</p>
    } else {
    <div class="pet-food-container">
      <form action="/pets/@pet.Id/Food" method="post">
      <input class="pet-food" name="Id" type="hidden" value="@pet.Id">
      <input name="petFood" type="hidden" value="@pet.Food">
        <p>
          <span>@pet.Food</span>
          <span>
            <button type="submit">Feed</button>
          </span>
        </p>
      </form>
    </div>

    <div class="pet-sleep">
      <form action="/pets/@pet.Id/Sleep" method="post">
      <input class="pet-sleep" name="Id" type="hidden" value="@pet.Id">
       <input name="petSleep" type="hidden" value="@pet.Sleep">
        <p>
          <span>@pet.Sleep</span>
          <span>
            <button type="submit">Sleep</button>
          </span>
        </p>
      </form>
    </div>

    //<a href="/pets/@pet.Id/edit">Rest</a>
    <div class="pet-attention">
      <form action="/pets/@pet.Id/Attention" method="post">
      <input class="pet-attention" name="Id" type="hidden" value="@pet.Id">
        <p>
          <span>@pet.Attention</span>
          <span>
          <button type="submit">Play</button>
          </span>
        </p>
      </form>
    </div>
    @* <li>
      <form action="pets/@pet.Id">
        <button></button>
      </form>
    </li>
    <li>
      <form action="pets/@pet.Id">
        <button></button>
      </form>
    </li> *@
    }
  }

@* buttons/links with actions *@
<a href="/pets/new">Make a new Tamagotchi!</a>
<form action="/pets/delete" method="post">
  <button type="submit" name="button">Remove all Pets</button>
</form>