@using Tamagotchi.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Tamagotchi</h1>
</div>

<div class="pet-details">
  <h3>@Model.Name</h3>

  <p>Food Level: @Model.Food</p>
  <p>Attention Level: @Model.Attention</p>
  <p>Rest Level: @Model.Sleep</p>
</div>

<div class="pet-property">
  <form action="/pets/@Model.Id/Food" method="post">
    <input name="Id" type="hidden" value="@Model.Id">
    <button class="btn btn-primary" type="submit">Feed</button>
  </form>
</div>

<div class="pet-property">
  <form action="/pets/@Model.Id/Sleep" method="post">
    <input name="Id" type="hidden" value="@Model.Id">
    <button class="btn btn-primary" type="submit">Sleep</button>
  </form>
</div>

<div class="pet-property">
  <form action="/pets/@Model.Id/Attention" method="post">
    <input name="Id" type="hidden" value="@Model.Id">
    <button class="btn btn-primary" type="submit">Play</button>
  </form>
</div>

@* <h3><a href='/'>Edit Name</a><h3> *@
  <h3><a href='/pets'>Back To Pets</a><h3></h3>
<form class="btn btn-large" action="/pets/@Model.Id/Delete" method="post">
  <input name="Id" type="hidden" value="@Model.Id">
  <button type="submit" name="button">Delete this pet.</button>
</form>